.box-search{
	width: 100%;
	height: 75px;
}.searcher{
	width: 300px;
	margin: 50px 0px 0px 100px;
	position: relative;
}.searcher input#search{
	width: 300px;
	height: 50px;
	background: #1218299f;
	border-style: 0px solid;
	border-radius: 10px;
	border-color: rgba(211, 211, 211, 0.37);
	font-size: 10pt;
	float: left;
	color: #63717f;
	padding-left: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	-webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
	-ms-transition: background .55s ease;
	-o-transition: background .55s ease;
	transition: background .55s ease;
}
.searcher input#search::-webkit-input-placeholder {
	color: #65737e;
}.container-searcher input#search:-moz-placeholder { /* Firefox 18- */
	color: #65737e;  
}.searcher input#search::-moz-placeholder {  /* Firefox 19+ */
	color: #65737e;  
}.searcher input#search:-ms-input-placeholder {  
	color: #65737e;  
}
.searcher .icon{
	position: absolute;
	top: 50%;
	margin-left: 17px;
	margin-top: 15px;
	z-index: 1;
	color: #4f5b66;
}
.searcher input#search:hover, .searcher input#search:focus, .searcher input#search:active{
    outline:none;
    background: #ffffff;
}