<header class="header">
    <div class="logo">
        <img src="../../../assets/Image/logo.png" alt="Logo">
    </div>
    <nav>
        <ul class="navbar">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Peliculas</a></li>
            <li><a href="#">Series</a></li>
        </ul>            
    </nav>
    <a class="btn" href="#"><button>Ingresar</button></a>
</header>
<div class="box-tittle">
    <h1 class="tittle">PelisUp!</h1>
    <p id="subtittle">Plataforma para ver peliculas y series</p>
</div>